img{
  width:100%;
  height: 200px;
  border-style: double;
  border-width: 3px;
  border-color: black;
}

#totalScore {
  font-size: xx-large;
  color: black;
  font-weight: bold;
}

#wins{
  height: 40px;
  padding: 3px;
}

#losses{
  height:40px;
  padding: 3px;
}


#directions{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: black;
}